html {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}


.recipe-item {

}

.recipe-item__thumbnail {
  display: inline-block;
}

.recipe-item__block {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

.recipe-item__title {
  font-weight: 500;
  margin-top: 1em;
  font-size: 1.2em;
}

.recipe-item__description {
  margin-top: 1em;
}

.recipe-form__title-section {
  font-size: 1.2em;
}

.ingredient-item {

}

.ingredient-item__thumbnail {
  display: inline-block;
}

.ingredient-item__block {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

.ingredient-item__name {
  font-weight: 500;
  margin-top: 1em;
  font-size: 1.2em;
}

.ing-quantity__name {
  display: inline-block;
}

.user-info {
  position: relative;
}
.user-info__display-name {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1em;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  color: white;
}

.user-info__avatar {
  display: inline-block;
  vertical-align: center;
}

@media (max-width: 34em) {
  .recipe-form {
    width: 95%;
  }
 }
