.movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movie-form {
    max-width: 45rem;
}
.movie {
    display: block;
    border: 1px dashed #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 1em;
}
.movie--title {
    display: block;
    font-size: 1.5em;
}

.movie--year {
    display: block;
    font-size: 1.3em;
    color: #333;
}

.movie--duration {
    display: block;
    float: right;
    color: #ccc;
}

.btn-movie-new {
    margin-top: 2em;
}

.movie-edit-panel {
    background-color: #fafafa;
    padding: 1em;
    width: 100%;
    height: 35em;
}